body{
background-color:black;
margin:0;
text-align:center;
height:auto;
width:auto;
}
p{
font-family: 'Merriweather', serif;
font-size:30px;
float:center;
height:auto;
width:auto;
}
.intro{
background-color: #80BDAB;
padding-top: 50.5%;
height:auto;
width:auto;

}
.middle{
background-color:white;
text-align:center;
background-color:#B5EAEA;
padding-top:5%;
position:relative;
height:auto;
width:100%;
}
.mountain{
height:auto;
width:60%;
}
.bottom{

margin-top:-2%;
background-color:black;
height:auto;
width:100%;
}
.pro{
 text-decoration:underline;
}

#cloud1{
position:absolute;
left:60%;
top:50%;
height:auto;
width:15%;
}
.cloud{
position:absolute;
top:60%;
left:30%;
height:auto;
width:15%;
}
.name{
font-size:30px;
font-family: 'Sacramento', cursive;

}
.flybit{
height:20%;
position:absolute;
left:30%;
top:40%;
height:auto;
width:10%;


}
.profile{
position:fixed;
height:8%;
left:1%;
top:1%;

}
.profilediv{
margin:0;
background-color:#93B5C6;
position:fixed;
padding-top:0.5%;
padding-right:100%;
left:0px;
top:0px;
height:auto;



}
.sub{
position:relative;
left:40%;
top:-0.5em;
font-size:150%;
}
.hellowordld{

height:10%;
position:absolute;
height:auto;
width:30%;

}
.about{
height:100px;
}
.aboutme{
position:absolute;
left:40%;
height:auto;
width:18%;
}

.para{
position:relative;
top:-100px;
font-family: 'Merienda One', cursive;
line-height:2;
color:#515E63;
}
.skill{
position:relative;
top:-100px
}
.hob{

float:center;
margin-left:10%;
height:auto;
width:50%;

}
.hobtxt{
padding-top:9.25em;
margin-top:4%;
margin-bottom:-1%;
float:center;

left:-100px;
}
.ani1{
padding-top:100px;
height:auto;
width:30%;
}
a{
color:white;
}
.logo{
float:center;
margin-top:10px;
margin-left:40%;
height:auto;
width:18%;
}
.cont{
color:white;
margin-top:-20%;
float:center;
}
td{
padding:10px;
}
.abt{
position:fixed;
top:3%;
right:-43%;
height:auto;
width:100%;
}
.websitegif{
height:auto;
width:40%;
}
.trd{
float:center;
color:white;

margin-top:100px;

}

